@import "functions";
@import "mixins";
@import "variables";
@import "fonts";
@import "typography";
@import "utils";
@import "./pages/DefaultLayout";
@import "./components/TopNavbar";
@import "./components/SideNavbar";
@import "./components/PageHeader";
@import "./components/SearchBox";
@import "./components/DataTable";
@import "./components/CheckoutPanel";
@import "./components/ToggleBtn";

body {
    font-family: $font-primary;
    color: $black;
    background-color: $body-bg;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
}
