@import "variables";
.h1,
h1 {
    font-size: em(30);
}
.h2,
h2 {
    font-size: em(25);
}
.h3,
h3 {
    font-size: em(20);
}
.h4,
h4 {
    font-size: em(16);
}
.h5,
h5 {
    font-size: em(15);
}
.h6,
h6 {
    font-size: em(12);
}
