.objfit-cover {
    object-fit: cover;
}
.pointer {
    cursor: pointer;
}
.clr-green {
    color: $green;
}
.bg-clr-primary {
    background-color: $bg-primary;
}
.ff-secondary {
    font-family: $font-secondary;
}
