//Colors
$black: #000;
$white: #fff;
$red: #c43838;
$green: #30b69e;
$bluePrimary: #1a73e8;
$grayLight: #b2b2b2;
$grayDark: #333333;
$grayNormal: #666666;
$grayExtraLight: #e3e3e3;
$grayNormalLight: #b6b6b6;
$grayNormalExtraLight: #b8b8b8;
$gray: #f2f2f2;
$cream: #fcfcfc;
$creamLight: #aaaaaa;
$creamNormal: #edf0f3;
$creamExtraLight: #dee2e6;
$creamDark: #e0e0e0;

$font-primary: "Roboto";
$font-secondary: "Roboto Slab";

//Margins & Paddings
$xxl: 5rem; //80px
$xl: 4.5rem; //72px
$lg: 3.5rem; //56px
$md: 2.5rem; //40px
$sm: 2rem; //32px
$xs: 1rem; //16px
$xxs: 0.5rem; //8px
