//Colors
$black: #000;
$white: #fff;
$red: #c43838;
$green: #1dadac;
$bg-secondary: #e0e0e0;
$text-primary: #47546a;

$body-bg: #f6f8fa;
$sidebar-bg: #0d2222;
$sidenav-link-color: #ced2d2;
$border-primary: #dbdbe2;

$font-primary: "Roboto";
$font-secondary: "Roboto Slab";

//Margins & Paddings
$xxl: 5rem; //80px
$xl: 4.5rem; //72px
$lg: 3.5rem; //56px
$md: 2.5rem; //40px
$sm: 2rem; //32px
$xs: 1rem; //16px
$xxs: 0.5rem; //8px
