.rwa-data-table {
    background-color: $white;
    .rdt_TableHead {
        border-top: 1px solid var(--bs-border-color);
    }
    .rdt_TableBody {
        .rdt_TableRow {
            .rdt_TableCell {
                padding-block: em(25);
                .rwa-input {
                    &.price-field-disabled {
                        max-width: em(120);
                        @include radius(0.25rem);
                    }
                    &.qty-field {
                        max-width: em(50);
                        @include radius(0.25rem);
                    }
                }
            }
        }
    }
}
.rwa-table-ftr {
    border-top: 1px solid var(--bs-border-color);
    .rwa-input {
        &.discount-field {
            max-width: em(120);
            @include radius(0.25rem);
            margin-left: em(40);
        }
    }
}
