@import "../../theme/variables";


.ev-searchbox {
    position: relative;
    min-width: em(412.22);
    [type="search"] {
        min-height: 40px;
        font-size: 14px;
        @include shadow(0px 1px 2.85px 0.15px rgba(0, 0, 0, 0.1));
        @include radius(20px);
        &::placeholder {
            color: $grayLight;
        }
    }
    [type="submit"] {
        @include shadow(none);
        font-size: 13px;
        color: $white;
        background-color: $bluePrimary;
        position: absolute;
        top: 0;
        right: 0;
        min-width: 91px;
        width: initial;
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

@media screen and (max-width: 767px) {
    .ev-searchbox {
        min-width: 100%;
    }
}
