.rwa-searchbox {
    position: relative;
    [type="search"] {
        padding-left: em(35);
        min-height: 40px;
        font-size: 14px;
        @include shadow(0px 1px 2.85px 0.15px rgba(0, 0, 0, 0.1));
        @include radius(0.25rem);
        border-color: $green;
        border-width: 2px;
    }
    .search-label {
        position: absolute;
        color: $text-primary;
        background-color: $white;
        left: em(40);
        font-size: em(12);
        top: em(-15);
        padding: em(5);
    }
    .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: em(10);
    }
}
